<!doctype html>
<html>
  <head>
    <title>create convo</title>
  </head>
  <body>


    <h3>send a bubble </h3>
<form action="/create_convo" method="POST">
  <textarea rows="4" cols="50" name = "text">
    puts your thoughs
</textarea>
  <input class="btn btn-primary" type="submit" value="submit">
</form>

  </body>
</html>
