<!doctype html>
<html>
  <head>
    <title>All of your post</title>
  </head>
  <body>

    <div class="container">
      <h2>This is all your posts!!</h2>
      <h2>Don't forget to <strong>yield</strong> your views!</h2>
    </div>



    <h3>Post whats on your mind</h3>
<form action="/create_post" method="POST">
  <textarea rows="4" cols="50" name = "text">
    puts your thoughs
</textarea>
  <input class="btn btn-primary" type="submit" value="submit">
</form>

  </body>
</html>
